<div class="navbar">
	<div id="teaser2" class="navbar-inner" style="background:#ffffff;margin-top:0.5em;border:0">
		
		<form class="pull-right" style="margin-bottom:0;">	
			<input type="text" class="input input-small" style="margin:0;margin-top:5px;width:120px" placeHolder="r/subreddit" ng-model="subreddit" />
			<input type="text" class="input input-small" style="margin:0;margin-top:5px;width:40px" placeHolder="filter1 filter2" ng-model="subreddit_filter" />
			<select  ng-model="filter_sfw" class"btn" style="width:5em;font-size:80%;margin:0;margin-top:5px;">
				<option value="true">sfw</option>
				<option value="false">nsfw</option>
			</select>	
			<a ng-href="{{post.url}}" target="popup" ng-hide="hidePost(post)" class="btn">P</a>
			<a href="http://www.reddit.com{{post.permalink}}.mobile" target="iframe0" class="btn">C</a>
			<a href="{{list_url}}" target="iframe0" class="btn" >L</a>
			<input type="checkbox" value="true" class="btn" ng-model="auto_skip_self" />
			<!--
			<button class="btn" ng-click="prev()">prev</button>	
			-->
			<button class="btn" ng-click="next()" id="next-button">next</button>	
			<!--
			<input type="checkbox" class="btn" ng-hide="auto_skip" ng-model="auto_skip" value="1" />
			-->
			<!--
			<textarea style="width:100%;height:100px" >{{post}}</textarea>
			F({{filtered}}) T({{post.title}}) S({{post.subreddit}})
			-->
			<button class="btn" ng-click="auto_skip=true;" ng-hide="auto_skip">auto skip</button>
			<!--
			<button class="btn" ng-click="auto_skip_open=true;window.open(document.location.href,'popup2');" ng-hide="auto_skip_open">O</button>
			-->
		</form>
	</div>
</div>

<div id="main" class="container">
	<iframe ng-cloak target="_top" style="width:100%;min-height:90%;overflow:hidden;border:0;" src="http://www.reddit.com{{post.permalink}}.mobile" id="iframe0" name="iframe0" ></iframe>	
	</div>
</div>
